body{
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(238, 238, 238);
}
section{
  background-color: white;
  margin: 50px 50px;
}
.top-banner{
  margin-bottom: -50px;
}
nav{
  display: inline block;
  text-align: right;
  margin-right: 30px ;

  
}
nav ul{
  
  padding:10px;
  padding-top: 50px;
  margin-right: 20px;
  margin-bottom: -50px;
  

}
nav ul a{
  text-decoration: none;
  margin-left: 30px;
  padding-left: 10px;
  
}
#name{ 
  font-weight: bold;
  color:rgba(235, 168, 22, 0.911);
  
}
.services{
  margin-top: -50px;

}
.services h1{
  font-weight:bold;
  text-align: center;
  padding-top: 100px;
  color:rgb(75, 72, 72)
}
hr{
  width: 20%;
  color: rgb(199, 197, 197);
}
.flexible-container{
  display: flex;
  padding-bottom: 20px;
  padding-top: 50px;

}
.half-width{
  width:50%;
  padding:50px 150px;
}
.half-width img{
  width: 100%;
  padding-left:50px;
}

.half-width ul{
  margin-top: -100px ;
  list-style: none;
  
}
.half-width ul li{
  text-align: left;
  margin-left: -180px;
  padding: 10px;
}
.half-width ul li a{
  padding: 20px;
  color: rgb(143, 142, 142);
  
}
.link_button{
  
  text-decoration: none;
  background-color: rgba(235, 168, 22, 0.911);
  padding: 15px 20px;
  border-radius: 10px;
}
.service-title h2{
  color: rgba(235, 168, 22, 0.911);
  font-size: 20px;
}
.service-title p{
  font-size: 12px;
}
.service-title img{
  width: 100px;
  height: 100px;
  margin-top: -30px;
  justify-content: center;
  border: 2px solid rgb(236, 233, 233);
  border-radius: 50px;
  background-color: white;
}
.service-title{
  width: 25%;
  height:200px;
  margin-left: 5%;
  margin-right: 5%;
  padding:5%;
  border-radius: 20px 20px;
  box-shadow: 5px 5px 10px lightgrey;
  background-color: rgb(247, 244, 244);
}
.about-me{
  height: 100%;
  margin-top: -50px;
  padding-top: 100px;
  background-image: url(./images/164-1645504_circle-for-logo-design\ \(2\).png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: left;
}
.half-width-contact{
  width: 70%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: 15px 25px 20px lightgrey;
  background-color: rgb(247, 244, 244);
  margin-left: 250px;
  padding: 10px 20px;
  border-left: 5px solid;
  border-image: linear-gradient(rgb(255, 81, 0),orange);
  border-image-slice: 1;
}
.half-width-contact ul{
  list-style: none;
  margin-top: 80px;
  margin-left: 50px;
}
.half-width-contact ul li{
  text-align: right;
  padding: 5px;
}
.half-width-contact ul li a{
  margin-top:50px;
  margin-left: -100px;
  padding: 20px;
  color: rgb(143, 142, 142);
}
.half-width-contact img{
  width: 200px;
  height: 200px;
  margin-left: 10px;
  padding: 20px 20px 20px 80px;
  
}
.half-width-read{
    width: 70%;
    height: 100%;
    border: 5px rgb(32, 30, 30);
    border-radius: 5px;
    box-shadow: 15px 25px 20px lightgrey;
    background-color: rgb(247, 244, 244);
    margin-left: 250px;
    margin-top: -50px;
    padding: 10px 20px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(255, 145, 0),rgb(255, 217, 0));
    border-image-slice: 1;
  } 
.half-width-read h1{
  margin-top: 30px;
  text-align: left;
  font-weight: 400px;
  color: rgb(75, 72, 72);
  margin-left: 30px;
  margin-bottom: 0px;
    
  }

.half-width-read p{
  padding: 10px 20px 20px 80px;
  margin-bottom: 10px;
}